label {
    display: block;
    font-size: 12px;
    width: auto;
}

input {
    width: 300px;
    border-color:#B7B7B7 #E8E8E8 #E8E8E8 #B7B7B7;
    border-style:solid;
    border-width:1px;
    padding:3px; margin-bottom: 10px;
    font-size:14px;
    color:#333;
 }

 input:focus, textarea:focus {
background: #fdffc8;
}
 
 input[name="send"] {
    width: 120px;
    background: #3883cc;
    color: white;
    font-weight: bold;
    margin-top: 15px;
    cursor: pointer;
    display: block;
 }
 
 textarea {
    font-family:Arial, Tahoma, Helvetica, sans-serif;
	font-size:100%;
	padding:3px; margin-bottom: 10px;
	border-color:#B7B7B7 #E8E8E8 #E8E8E8 #B7B7B7;
	border-style:solid;
	border-width:1px;
    width: 300px; height: 150px;
	display: block;
 }
 
 .rules {
    position: absolute;
    top: 260px; right: 0px;
    width: 320px;
 }
 
label.error {
    width: 180px;
    border: 1px solid #b5b5b5;
    padding: 2px 0px 0px 25px; margin: 5px 0px 0px 0px;
    background: #fcf2c4 url(images/error.png) no-repeat 5px 50%;
    
 }
 span.error {
    color: red;
    padding: 0px 0px 0px 25px;
    background: url(images/error.png) no-repeat 5px 50%;
 }
 
 
 .warning {
    color: red;
    padding: 20px 0px 0px 20px;
 }
 
 .success {
    color: green;
    padding: 20px 0px 0px 20px;
 }