.lang_selector {
	margin-right:10px;
	float:left;
}

.video_item {
	float:left;
	width:175px;
	padding:10px;
}

.has_event a:hover { color: #fff; text-decoration: underline; background:#00CDFB;}
.has_event .ui-state-default { color: #00CDFB; text-decoration: none; font-weight:bold;}

