.link_conttrol {
	list-style-type: disc;
	font-size: 14px;
	color: #999;
	line-height: 30px;
	list-style-position: inside;
}
.link_conttrol li a{
	color: #66CC33;
	font-weight: bold;
	text-decoration: none;
}