.link_conttrol { 
	margin: 0; padding: 0; list-style: none;
	line-height:24px;
 }
.link_conttrol li { margin: 0 0 5px 0; padding: 3px 10px; }
.link_conttrol li a { 
	background: url(img/aero.gif) no-repeat top left;	
	text-decoration: none; 
	font-size: 14px; 
	font-weight: bold;
	background-position: 5px 4px;
	display: block; 
	padding-left: 30px;
	color:#5BB12F;
}
.link_conttrol li a span { color: #f00; }

.icon_add {
	background: url(img/icon_add.png) no-repeat top left;	
}
.icon_edit {
	background: url(img/icon_edit.png) no-repeat top left;	
}
.icon_del {
	background: url(img/icon_del.png) no-repeat top left;	
}
.icon_list {
	background: url(img/icon_list.png) no-repeat top left;	
}
.icon_circle {
	background: url(img/aero.gif) no-repeat top left;	
}